<div class="form-group">
  <%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(todo.errors.count, "エラー") %><p>

        <ul>
          <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
          <% end %>
        </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id,current_user.email,class:"control-label" %>
    <%= form.hidden_field :user_id,:value => current_user.id %>
  </div>
  <div class="field">
    <%= form.label :todo ,class:"control-label" %>
    <%= form.text_field :todo,class:"form-control" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>